.app{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-color: rgb(255, 247, 240);
}

.welcome-card{
  width: 100%;
  max-width: 650px;
  padding: 32px;
  border-radius: 16px;
  background-color: rgb(136, 124, 54);
  box-shadow: 0 10px 25px pink ;
}
h1{
  margin-top: 8px;
  color: blue;
}

.day-lable{
  margin: 0;
  color: blueviolet;
}